body {
  font-family: 'Open Sans', Helvetica;
  user-select: none;
  -webkit-hyphens: auto;
  hyphens: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html, #bingo, #test, #uno, #menu, #pyro {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

h1, h2, p, a, b, i, td {
  -webkit-hyphens: auto;
  hyphens: auto;
}

input[type="checkbox"] {
  margin-right: 1vmax;
}

@supports (zoom:2) {
  input[type="checkbox"], input[type="radio"] {
	zoom: 2;
  }
}
@supports not (zoom:2) {
  input[type="checkbox"], input[type="radio"] {
	transform: scale(2);
  }
}

q {
  display: block;
  background: #fff;
  border-radius: 0.5vmax;
  padding: 0.5vmax;
  padding-left: 6vmax;
  padding-right: 1vmax;
  margin-top: 0.5vmax;
  overflow: auto;
}

q h2 {
  margin-left: 3vmax;
  color: #999;
}

.single q h2 {
  margin-left: 9vmax;
}

.single q {
  position: absolute;
  top: 2vmax;
  left: 2vmax;
  right: 2vmax;
  bottom: 2vmax;
  margin: 0;
  padding: 2vmax;
}

#menu q {
  padding-left: 9vmax;
}

q.hidden {
  display: none;
}

#menu q + span {
  display: block;
  font-style: italic;
  text-align: right;
}

q::before {
  position: absolute;
  font-size: 10vmax;
  color: #ccc;
  left: 6vmax;
  font-family: 'HVD Crocodile';
  font-weight: 600;
}

q::after {
  visibility: collapse;
}

#bingo, #menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.hidden {
  visibility: collapse;
}

#menu {
  text-align: left;
  overflow-y: auto;
  color: #333;
  transition: margin ease 0.5s;
  font-size: 3vmin;
}

#menu .content.start {
  text-align: center;
}

#menu.hidden {
  margin-top: 100%;
}

#menu.intro-mod {
  overflow-y: hidden;
}

#menu table {
  margin-left: auto;
  margin-right: auto;
}

#menu table td, #menu table tr {
  padding: 0;
}

#menu table td:nth-child(2) {
  padding-left: 2rem;
}

.game-logo {
  position: fixed;
  top: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #fff 10%);
  width: 100%;
  color: #333;
  margin: 0;
  padding: 0;
  user-select: none;
  text-align: center;
  letter-spacing: -0.6vmax;
  transition: margin ease 0.5s;
}

#menu.hidden .game-logo {
  margin-top: -100%;
}

.logo {
  font-family: 'HVD Crocodile';
  font-weight: 600;
}

.logo .virus {
  position: relative;
  display: inline-block;
  background: url(images/virus.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 12vmin;
  height: 12vmin;
  margin-left: -2.6vmin;
  margin-right: -2.6vmin;
}

.game-logo.menu {
  font-size: 14vmin;
  padding-bottom: 2vmin;
  z-index: 1;
}

.game-icon {
  display: inline-block;
  background: url(images/nn-icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 14vmin;
  height: 14vmin;
}

.location {
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  color: #ccc;
  cursor: pointer;
  font-size: 13vmin;
}

.detail .location {
  font-size: 7vmin;
}

#menu .intro-mod {
  cursor: pointer;
}

.skip {
  display: inline-block;
  color: #ccc;
  padding: 1vmax;
  cursor: pointer;
  float: right;
}

p.frame {
  position: absolute;
  visibility: collapse;
  opacity: 0;
  transition: opacity 1.5s ease;
}

p.frame.show {
  position: relative;
  visibility: visible;
  min-width: 100%;
  opacity: 1;
}

#menu label, #menu input {
  font-family: 'HVD Crocodile', Helvetica;
  font-weight: 300;
  font-size: 5vmin;
  color: #777;
}

#menu input {
  border: solid 0.5vmax #777;
  outline: none;
  text-align: center;
  box-shadow: 3vmax 6vmax 5vmax -4vmax rgba(0, 0, 0, 0.2);
}

button, button.menu, span.menu, select.menu {
  font-family: 'HVD Crocodile';
  font-weight: 300;
  color: #777;
}

#menu h1, #menu h2, #menu h3 {
  font-family: 'HVD Crocodile';
  font-weight: 600;
}

button {
  cursor: pointer;
  font-size: 1.2vmin;
  margin-right: 2vmin;
  padding: 0.5vmin;
}

button.menu, span.menu, select.menu {
  font-size: 7vmin;
  margin: 0.3vmin;
  padding: 2vmin;
}

button.menu.t, button.menu.u {
  padding: 1.8vmin;
}


button.hidden, q.hidden:after, a.hidden, span.hidden {
  display: none;
}

.ss, .i, .s, .si, .is, .ii {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 12vmin;
  height: 12vmin;
}

.is {
  background-image: url(images/is.svg);
}
.si {
  background-image: url(images/si.svg);
}
.ss {
  background-image: url(images/ss.svg);
}
.ii {
  background-image: url(images/ii.svg);
}
.s {
  background-image: url(images/s.svg);
}
.i {
  background-image: url(images/i.svg);
}
      
.card .bingo, .detail, .card {
  position: absolute;
  width: 100%;
  height: 100%;
}

.detail {
  background: #eee;
  overflow-y: auto;
  text-align: left;
  cursor: pointer;
  user-select: text;
}

#menu .content, .detail .content {
  padding: 4vmin;
}

#menu .content {
  padding-top: 20vmin;
  max-height: calc(100% - 20vmin);
}

#menu.intro-mod .content {
  padding-top: 0;
  max-height: 100%;
}

#menu .content a {
  color: #aaa;
}

#menu .content img {
  height: 15vmin;
  width: auto;
  float: left;
  margin-right: 3vmin;
}

#menu .content .intro img {
  display: block;
  width: 70%;
  height: auto;
  float: none;
}

#bingo {
  font-size: 1.7vmax;
}

#bingo.one {
  font-size: 3vmin;
}

.title {
  height: 4vmax;
  font-size: 2vmax;
  font-family: 'HVD Crocodile';
  color: white;
  width: calc(100% - 3vmax);
}

.title label.hidden {
  display: none;
}

.title select {
  font-size: 3vmax;
}

#bingo table {
  height: calc(100% - 4vmax);
}

.detail.single {
  display: flex;
  align-items: start;
  user-select: none;
  overflow-y: hidden;
}

.search {
  width: 100%;
  font-size: 2vmax;
  padding: 0.5vmax;
}

.detail a[id] input {
  float: left;
}

.detail a[id].excluded, .detail a[id].excluded p {
  color: #aaa;
}

.detail.single a[id], 
.detail.single a[id] p, 
.detail.single a[id] + ul, 
.detail.single a[id] span,
.detail.single .search,
.detail.single input[type="checkbox"],
.detail a[id].not-matching, 
.detail a[id].not-matching p {
  display: none;
}

.detail.single a.single, .detail.single a.single p {
  display: block;
  transition: height 0.5s ease;
}

.detail.single h1, .detail.single h1 + p {
  display: none;
}

.detail .content h2 {
  font-family: 'HVD Crocodile';
  font-weight: 600;
  font-stretch: condensed;
}

.detail .content h2::before {
  content: "\201c"
}

.detail .content h2::after {
  content: "\201d"
}

.detail .content > h2 {
  display: none;
}

.detail.single .content > h2 {
  display: block;
}

.detail ul {
  list-style-type: none;
  padding-left: 0;
}

.detail ul li span {
  margin-right: 0.5em;
}

.detail a[id] span, .detail li span, .detail p span {
  color: #fff;
  padding: 0.5vmax;
  user-select: none;
  margin-left: 0.5vmax;
  margin-bottom: 0.5vmax;
  display: inline-block;
}

.idiot .detail a[id] span, .idiot .detail li span, .idiot .navigation span, .sheep .navigation span.counter {
  background: #f72d5d;
}

.sheep .detail a[id] span, .sheep .detail li   span, .sheep .navigation span, .idiot .navigation span.counter {
  background: #2d60f6;
}

.detail a[id].excluded span {
  background: #aaa;
}

.detail a[id] span {
  float: right;
}

.detail li span {
  float: left;
  clear: both;
  min-width: 2.5em;
  text-align: center;
}

.detail li h3 {
  margin: 0.6em;
}

.detail li h3 a {
  color: inherit;
  text-decoration: none;
}

.detail .navigation {
  display: none;
}

.detail.single .navigation {
  display: block;
}

.navigation span {
  opacity: 0.5;
}

.navigation span.selected {
  opacity: 1;
  transform: scale(1.1);
}

.detail .logo, #result .logo {
  font-size: 6vmax;
  letter-spacing: -0.3vmax;
  text-align: center;
}

#bingo.one .detail .logo {
  font-size: 12vmin;
  letter-spacing: -0.6vmax;
}

.detail .logo .virus, #result .logo .virus {
  width: 6vmax;
  height: 6vmax;
  margin-left: -1.3vmax;
  margin-right: -1.3vmax;
}

#bingo.one .detail .logo .virus {
  width: 12vmin;
  height: 12vmin;
  margin-left: -2.6vmin;
  margin-right: -2.6vmin;
}

.detail button {
  font-size: 3vmax;
}

#bingo.one .detail button {
  font-size: 6vmin;
}

.card-wrapper {
  position: relative;
  width: 100vmin;
}

.card-wrapper.hidden {
  display: none;
}

.card-wrapper:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

@media (orientation: landscape) {
  #bingo {
    flex-direction: row;
  }

  #bingo.hidden .card-wrapper:nth-child(1) {
    margin-top: -150%;
  }

  #bingo.hidden .card-wrapper:nth-child(2) {
    margin-bottom: -150%;
  }
}

@media (orientation: portrait) {
  #bingo {
    flex-direction: column;
  }

  .detail {
    font-size: 1.7vmax;
  }
  
  #bingo.hidden .card-wrapper:nth-child(1) {
    margin-left: -150%;
  }

  #bingo.hidden .card-wrapper:nth-child(2) {
    margin-right: -150%;
  }
}

@media (orientation: portrait) and (min-aspect-ratio: 1/2) {
  #bingo:not(.one) .card-wrapper {
    width: 50vh;
  }
}

#stop, .reload, .permalink, .correct {
  position: absolute;
  right: 0.2vmax;
  top: 0.2vmax;
  border: none;
  font-size: 3vmax;
  line-height: 3vmax;
  background: transparent;
  color: #ccc;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
}

.correct {
  left: 0.2vmax;
  right: inherit;
}

.correct.active {
  background: yellow;
}

#stop {
  left: 0.2vmax;
  right: auto;
  z-index: 2;
}

.reload:hover, .permalink:hover, #stop:hover, .correct:hover {
  background: rgba(255, 255, 255, 0.6);
  color: black;
}

.card {
  background: #999;
}

.red {
  color: #f72d5d;
}

.idiot .card {
  background: #f72d5d;
}

.blue {
  color: #2d60f6;
}

.sheep .card {
  background: #2d60f6;
}

#bingo table {
  border: 2vmax solid transparent;
  border-top: none;
  border-collapse: separate;
  user-select: none;
  table-layout: fixed;
  width: 100%;
}

#bingo table tr {
  height: 20%;
}

#bingo table td {
  width: 20%;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  cursor: pointer;
  padding: 0.5vmax;
}

#bingo table td.set {
  background: transparent;
  color: white;
}

#bingo .done table td.idiot {
  background: #f72d5d;
  opacity: 0.7;
}

#bingo .done table td.sheep {
  background: #2d60f6;
  opacity: 0.7;
}

#bingo table td.center {
  background: transparent;
  color: white;
  font-size: 4vmax;
}

#bingo table td.complete {
  background: yellow;
  color: black;
}

.title select {
  font-family: 'HVD Crocodile';
  font-weight: 600;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
  text-align: center;
  text-align-last: center;
  appearance: none;
  cursor: pointer;
}

option {
  font-family: 'Open Sans', Helvetica;  
}

button {
  border: solid 0.5vmax #777;
}

button {
  outline: none;
  box-shadow: 3vmax 6vmax 5vmax -4vmax rgba(0, 0, 0, 0.2);
}

button:nth-child(2n) {
  border-radius: 36vmin 2vmin 32vmin 2vmin/2vmin 32vmin 2vmin 36vmin;
}

button:nth-child(2n+1) {
  border-radius: 2vmin 32vmin 2vmin 36vmin/32vmin 2vmin 36vmin 2vmin;
}

button:hover {
   box-shadow: 1vmax 1vmax 1vmax -1vmax rgba(0, 0, 0, 0.3);
}

@keyframes jump {
  0% {transform: translate3d(0, 0, 0) scale3d(1, 1, 1);}
  40% {transform: translate3d(0, -10%, 0) scale3d(0.8, 1.2, 1);}
  100% {transform: translate3d(0, -40%, 0) scale3d(1.2, 0.8, 1);}
}

.jump {
  transform-origin: 50% 50%;
  animation: jump 0.5s linear alternate infinite;
}

#loader {
  position: absolute;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #2d60f6; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#menu .info {
  width: 4vmax;
  height: 4vmax;
  color: white;
  background: palevioletred;
  text-align: center;
  font-size: 3vmax;
  cursor: pointer;
  border-radius: 50%;
  font-family: 'Open Sans', Helvetica;
  display: inline-block;
  margin: 0.2rem;
}

#menu .info:hover {
  background: grey;
}

#menu .info:after {
  content: '?';
}

#menu .icard {
  width: 10em;
  height: 15em;
  float: left;
  margin-right: 1em;
}

#menu h2, h3 {
  padding-top: 1em;
  clear: both;
}
