html, body, #uno {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: visible;
}

html {
  overflow: hidden;
}

#config {
  position: absolute;
  top: 0;
}

#config h1, #config label, #config button, #config input {
  font-family: 'HVD Crocodile';
  font-weight: 300;
  font-size: 7vmin;
  color: #777;
}

#config h1 {
  font-weight: 600;
}

#config button, #config input {
  border: solid 0.5vmax #777;
  outline: none;
  box-shadow: 3vmax 6vmax 5vmax -4vmax rgba(0, 0, 0, 0.2);
}

#config button:nth-child(2n), #config input:nth-child(2n) {
  border-radius: 36vmin 2vmin 32vmin 2vmin/2vmin 32vmin 2vmin 36vmin;
}

#config button:nth-child(2n+1), #config input:nth-child(2n+1) {
  border-radius: 2vmin 32vmin 2vmin 36vmin/32vmin 2vmin 36vmin 2vmin;
}

#config button:hover, #config input:hover {
   box-shadow: 1vmax 1vmax 1vmax -1vmax rgba(0, 0, 0, 0.3);
}


#uno {
  display: flex;
  flex-direction: column;
  background: lightgrey;
}

#game {
  position: relative;
  width: 100%;
}


#hand {
  flex: 2;
  width: 100%;
}

#players {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

#players opponent-hand {
  position: relative;
  flex: 1 1 0;
  width: 0;
  height: 40%;
}

#piles {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 10%;
}

#piles card-pile {
  position: relative;
  height: 200px;
  width: 142px; 
}

@media (orientation: portrait) and (min-aspect-ratio: 1/2) {
  #hand {
    flex: 0.8;
  }
}

@media (orientation: landscape) and (min-aspect-ratio: 2/1) {
  #uno {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  #hand {
    order: 1;
    height: 95%;
  }
  #deck {
    order: 2;
    height: 100%;
  }
}

#location {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  background: transparent;
  border: none;
}

#loader {
  position: absolute;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #2d60f6; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

#uno.hidden {
  visibility: collapse;
}

opponent-hand.active {
  border: 3px solid #ff7f50;
}