#bingo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 1.7vmax;
}

#bingo.one {
  font-size: 3vmin;
}

@media (orientation: landscape) {
  #bingo {
    flex-direction: row;
  }

  #bingo.hidden bingo-card:nth-child(1) {
    margin-top: -150%;
  }

  #bingo.hidden bingo-card:nth-child(2) {
    margin-bottom: -150%;
  }
}

@media (orientation: portrait) {
  #bingo {
    flex-direction: column;
  }

  #bingo.hidden bingo-card:nth-child(1) {
    margin-left: -150%;
  }

  #bingo.hidden bingo-card:nth-child(2) {
    margin-right: -150%;
  }
}

@media (orientation: portrait) and (min-aspect-ratio: 1/2) {
  #bingo:not(.one) bingo-card {
    width: 50vh;
  }
}

@media (prefers-color-scheme: dark) {
  #bingo {
    background-color: #222;
  }
}
