#bingo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 1.7vmax;
}

#bingo.one {
  font-size: 3vmin;
}

.title {
  height: 4vmax;
  font-size: 2vmax;
  font-family: 'HVD Crocodile', Helvetica, sans-serif;
  width: calc(100% - 3vmax);
}

.title label.hidden {
  display: none;
}

.title select {
  font-family: 'HVD Crocodile', Helvetica, sans-serif;
  font-size: 3vmax;
  font-weight: 600;
  border: none;
  background: transparent;
  color: var(--sheep-color);
  outline: none;
  text-align: center;
  text-align-last: center;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.idiot .title select {
  color: var(--idiot-color);
}

.title select option {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

#bingo table {
  height: calc(100% - 4vmax);
}

.card .bingo, .detail, .card {
  position: absolute;
  width: 100%;
  height: 100%;
}

.detail {
  background: #eee;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  cursor: pointer;
  user-select: text;
}

.detail .location {
  font-size: 7vmin;
  max-width: 10vmin;
}

.detail .search {
  width: 100%;
  font-size: 2vmax;
  padding: 0.5vmax;
}

.detail.single {
  display: flex;
  align-items: start;
  user-select: none;
  overflow-y: hidden;
}


.detail.single q h2 {
  margin-left: 9vmax;
}

.detail.single q {
  position: absolute;
  top: 2vmax;
  left: 2vmax;
  right: 2vmax;
  bottom: 2vmax;
  margin: 0;
  padding: 2vmax;
}

.detail a[id] input {
  float: left;
}

.detail a[id].excluded, .detail a[id].excluded p {
  color: #aaa;
}

.detail.single a[id],
.detail.single a[id] p,
.detail.single a[id] + ul,
.detail.single a[id] > span,
.detail.single .search,
.detail.single input[type="checkbox"],
.detail a[id].not-matching,
.detail a[id].not-matching p {
  display: none;
}

.detail.single a.single, .detail.single a.single p {
  display: block;
  transition: height 0.5s ease;
}

.detail.single h1, .detail.single h1 + p {
  display: none;
}

.detail .content h2 {
  font-family: 'HVD Crocodile', Helvetica, sans-serif;
  font-weight: 600;
  font-stretch: condensed;
}

.detail .content h2::before {
  content: "\201c"
}

.detail .content h2::after {
  content: "\201d"
}

.detail .content > h2 {
  display: none;
}

.detail.single .content > h2 {
  display: block;
}

.detail ul {
  list-style-type: none;
  padding-left: 0;
}

.detail ul li span {
  margin-right: 0.5em;
}

.detail a[id] > span, .detail li span, .detail .navigation span {
  color: #fff;
  padding: 0.5vmax;
  user-select: none;
  margin-left: 0.5vmax;
  margin-bottom: 0.5vmax;
  display: inline-block;
}

.idiot .detail a[id] > span, .idiot .detail li span, .idiot .navigation span, .sheep .navigation span.counter {
  background: var(--idiot-background);
  color: var(--idiot-color);
}

.sheep .detail a[id] > span, .sheep .detail li   span, .sheep .navigation span, .idiot .navigation span.counter {
  background: var(--sheep-background);
  color: var(--sheep-color);
}

.detail a[id].excluded > span {
  background: #aaa;
}

.detail a[id] > span {
  float: right;
}

.detail li span {
  float: left;
  clear: both;
  min-width: 2.5em;
  text-align: center;
}

.detail li h3 {
  margin: 0.6em;
}

.detail li h3 a {
  color: inherit;
  text-decoration: none;
}

.detail .navigation {
  display: none;
}

.detail.single .navigation {
  display: block;
}

.navigation span {
  opacity: 0.5;
}

.navigation span.selected {
  opacity: 1;
  transform: scale(1.1);
}

.detail .logo, #result .logo {
  font-size: 6vmax;
  letter-spacing: -0.3vmax;
  text-align: center;
}

#bingo.one .detail .logo {
  font-size: 12vmin;
  letter-spacing: -0.6vmax;
}

.detail .logo .virus, #result .logo .virus {
  width: 6vmax;
  height: 6vmax;
  margin-left: -1.3vmax;
  margin-right: -1.3vmax;
}

#bingo.one .detail .logo .virus {
  width: 12vmin;
  height: 12vmin;
  margin-left: -2.6vmin;
  margin-right: -2.6vmin;
}

.detail button {
  font-size: 3vmax;
}

#bingo.one .detail button {
  font-size: 6vmin;
}

.card-wrapper {
  position: relative;
  width: 100vmin;
}

.card-wrapper.hidden {
  display: none;
}

.card-wrapper:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

@media (orientation: landscape) {
  #bingo {
    flex-direction: row;
  }

  #bingo.hidden .card-wrapper:nth-child(1) {
    margin-top: -150%;
  }

  #bingo.hidden .card-wrapper:nth-child(2) {
    margin-bottom: -150%;
  }
}

@media (orientation: portrait) {
  #bingo {
    flex-direction: column;
  }

  .detail {
    font-size: 1.7vmax;
  }

  #bingo.hidden .card-wrapper:nth-child(1) {
    margin-left: -150%;
  }

  #bingo.hidden .card-wrapper:nth-child(2) {
    margin-right: -150%;
  }
}

@media (orientation: portrait) and (min-aspect-ratio: 1/2) {
  #bingo:not(.one) .card-wrapper {
    width: 50vh;
  }
}

.reload:hover, .permalink:hover, #stop:hover, .correct:hover {
  background: rgba(255, 255, 255, 0.6);
  color: black;
}

.card {
  background: #999;
}

.idiot .card {
  background: var(--idiot-card-background);
}

.sheep .card {
  background: var(--sheep-card-background);
}

#bingo table {
  border: 2vmax solid transparent;
  border-top: none;
  border-collapse: separate;
  user-select: none;
  table-layout: fixed;
  width: 100%;
}

#bingo table tr {
  height: 20%;
}

#bingo table td {
  width: 20%;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  cursor: pointer;
  padding: 0.5vmax;
}

#bingo table td.set {
  background: transparent;
  color: white;
}

#bingo table td.center {
  background: transparent;
  color: white;
  font-size: 4vmax;
}

#bingo table td.complete {
  background: yellow;
  color: black;
}

.correct {
  left: 0.2vmax;
  right: inherit;
}

.correct.active {
  background: yellow;
}

@media (prefers-color-scheme: dark) {
  #bingo {
    background-color: #222;
  }

  .detail {
    background: #555;
    color: white;
  }

  .card {
    background: #999;
  }
}
