html, body {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#navigation {
  font-family: 'Open Sans', Helvetica;
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: lightgrey;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#details {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  box-sizing: border-box;
}

#details #edit-bar {
  width: 100%;
  margin-bottom: 0.5em;
}

#details #edit-bar * {
  margin-left: 0.5em;
}

#details centered-cards {
  width: 100%;
  height: 100%;
}

.list {
  width: 100%;
  height: 100%;
}

.list tr {
  cursor: pointer;
}

.list tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.list tr.selected {
  background-color: white;
  color: black;
}

.list tr:hover {
  background-color: coral;
  color: white;
}

.list th {
  background-color: darkgrey;
  color: white;
  position: sticky;
  top: 0;
}

.hidden {
  display: none;
  visibility: collapse;
}