#test centered-cards {
  width: 100%;
  height: 100%;
  transition: margin ease 0.5s;
}

#test.hidden centered-cards {
  margin-top: -150%;
}

#result {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2.5vmin;
  background-color: #fff;
  color: #666;
  padding: 0;
  margin: 0;
  text-align: center;
  transition: margin ease 0.5s;
  overflow: hidden;
}

#result test-certificate {
  width: 100%;
  height: 100%;
}

#result.hidden {
  margin-bottom: -150%;
}

#result h1 {
  font-family: 'HVD Crocodile', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 7vmin;
}

#result table {
  border: 0.25vmax solid #aaa;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: left;
}

#result .result {
  color: var(--sheep-color);
  background-color: var(--sheep-background);
}

#result.idiot .result {
  color: var(--idiot-color);
  background-color: var(--idiot-background);
}

#result .drawer, #result .result {
  margin-left: 3vmin;
  margin-right: 3vmin;
}

#result .drawer {
  border: 0.5vmax solid #666;
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0;
  transform: perspective(20vmax) rotateX(40deg);
  transform-origin: bottom;
  padding: 1vmax;
  height: 5vmax;
}

#result .arrow {
  display: block;
  margin-top: -3vmax;
  margin-bottom: -8vmax;
}

#result .arrow::before {
  content: '▼';
  display: block;
  font-size: 6vmax;
}

#result .result {
  margin-top: 0;
}

@media (prefers-color-scheme: dark) {
  test-certificate {
    color: #ddd;
  }

  #result .drawer {
    border: 0.5vmax solid #ddd;
  }
}
