msg-box, msg-box * {
  font-family: 'HVD Crocodile', Helvetica;
  font-weight: 300;
  font-size: 5vmin;
  color: #777;
}

dialog {
  border: 0;
}

#uno {
  display: flex;
  flex-direction: column;
  background: lightgrey;
}

#uno #game {
  flex: 1;
  position: relative;
  width: 100%;
  transition: all 0.3s;
}

#uno #game.zoomed {
  flex: 8;
}

#uno #game.zoomed #piles {
  height: 80%;
}

#uno #hand {
  flex: 2;
  width: 100%;
}

#players {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

#players.p10 opponent-hand:nth-child(1), #players.p10 opponent-hand:nth-child(9),
#players.p8 opponent-hand:nth-child(1), #players.p8 opponent-hand:nth-child(7),
#players.p6 opponent-hand:nth-child(1), #players.p6 opponent-hand:nth-child(5),
#players.p4 opponent-hand:nth-child(1), #players.p4 opponent-hand:nth-child(3) {
  margin-top: 12%;
}

#players.p10 opponent-hand:nth-child(2), #players.p10 opponent-hand:nth-child(8),
#players.p8 opponent-hand:nth-child(2), #players.p8 opponent-hand:nth-child(6),
#players.p6 opponent-hand:nth-child(2), #players.p6 opponent-hand:nth-child(4) {
  margin-top: 5%;
}

#players.p10 opponent-hand:nth-child(3), #players.p10 opponent-hand:nth-child(7),
#players.p8 opponent-hand:nth-child(3), #players.p8 opponent-hand:nth-child(5) {
  margin-top: 2%;
}

#players opponent-hand {
  position: relative;
  flex: 1 1 0;
  width: 0;
  height: 15vh;
}

#players opponent-hand.selectable {
    animation: pulse 0.4s ease infinite alternate;
}

#piles {
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0;
}

#uno.hidden {
  visibility: collapse;
}

opponent-hand.current {
  border-bottom: 5px solid #ff7f50;
}

@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}